Makefile
Makefile.in
vorbis-tools-*.zip
vorbis-tools-*.tar.gz
configure
config.rpath
config.log
config.guess
config.sub
config.status
config.h
config.h.in
depcomp
ltmain.sh
ABOUT-NLS
stamp-h1
autom4te.cache
libtool
missing
aclocal.m4
install-sh
.project
