Source: vorbis-tools
Section: sound
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper, libao-dev (>> 0.6.0), libogg-dev (>> 1.0beta4), libvorbis-dev (>> 1.0beta4)
Standards-Version: 3.5.2.0

Package: vorbis-tools
Architecture: any
Depends: ${shlibs:Depends}
Description: Several Ogg Vorbis Tools
 vorbis-tools contains oggenc (an encoder), ogg123 (a playback tool),
 and vorbiscomment (ogg comment editor)
