Source: vorbis-tools
Section: sound
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper, libao-dev, libogg-dev, libvorbis-dev
Standards-Version: 3.1.1

Package: vorbis-tools
Architecture: any
Depends: ${shlibs:Depends}
Description: Several Ogg Vorbis Tools
 vorbis-tools contains oggenc (an encoder) and ogg123 (a playback tool)
